.results {
  position: relative;
  text-align: left;
}

.results-list {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.results-list li a {
  text-decoration: none;
  color: #f90;
  font-weight: bold;
}

.results-list li {
  list-style: none;
  padding: 0 5px 5px 5px;
}

.results-list li:hover {
  background-color: #555;
}
